.root {
  --yellow-color: #FDC913;
  --lightgray-color: #5F5F5F;
  --darkgray-color: #292929;
  --red-color: #CE2829;
  --beige-color: #FAF7F2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
}

.intro {
  background-image: url("assets/iteration-1/home-banner.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.baslik{
  color: white;
  font-family: "Londrina Solid";
  margin-bottom: 30px;
  font-size: 2.5rem;
}
.slogan-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
}
.firsat-metni {
  font-family: "Satisfy";
  color: #FDC913;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}
.slogan {
  font-family: "Roboto Condensed";
  color: white;
  font-weight: 300;
  font-size: 5rem;
  width: 60%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.aciktim-button {
  font-family: "Barlow";
  background-color: #FDC913;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  width: 14rem;
  height: 4rem;
  border-radius: 2rem;
  margin-top: 2rem;
}







