html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
}

.intro {
  background: #CE2829;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baslik{
  color: white;
  font-family: "Londrina Solid";
  margin-bottom: 30px;
  font-size: 2rem;
}
.slogan-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45rem;
}
.firsat-metni {
  font-family: "Satisfy";
  color: #FDC913;
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 0;
}
.slogan {
  font-family: "Roboto Condensed";
  color: white;
  font-weight: 300;
  font-size: 3.5rem;
  width: 60%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.aciktim-button {
  background-color: #FDC913;
  font-size: 1rem;
  border: none;
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
}






