.root {
  --yellow-color: #FDC913;
  --lightgray-color: #5F5F5F;
  --darkgray-color: #292929;
  --red-color: #CE2829;
  --beige-color: #FAF7F2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
}

.intro {
  background-image: url("assets/iteration-1/home-banner.png");
  background-size:contain;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;}


.baslik{
  color: white;
  font-family: "Londrina Solid";
  margin-bottom: 30px;
  font-size: 2.5rem;
}
.slogan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
  margin-bottom: 0;
}
.firsat-metni {
  font-family: "Satisfy";
  color: #FDC913;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}
.slogan {
  font-family: "Roboto Condensed";
  color: white;
  font-weight: 300;
  font-size: 5rem;
  width: 60%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.aciktim-button {
  font-family: "Barlow";
  background-color: #FDC913;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  width: 14rem;
  height: 4rem;
  border-radius: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.main-section {
  width: 100%;
  height: 5rem;
  display: block;
}

.main-nav {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 4.3rem;
}
.main-nav a {
  height: 100%;
  text-decoration: none;
  font-size: 1,8rem;
  font-family: "Barlow";
  font-weight: 500;
  display: flex;
  align-items: center;
}
.main-nav a img {
  height: 2.5rem;
  margin-right: 1rem;
}

.main-section-cart-container {
  display: block;
  width: 100%;
  background: #FAF7F2;
  overflow: auto;
}

.triple-cart-section {
  display: flex;
  justify-content: center;
}

.cart-container {
  display: flex;
  width: 70rem;
  height: 30rem;
  margin-top: 4rem;
}
.first-cart {
  background-image: url("public/assets/iteration-2/cta/kart-1.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 2rem;
  padding-left: 2rem;
  gap: 1rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  flex: 1;
}
.first-cart h2 {
  color: white;
  font-family: "Quattrocento";
  font-weight: 700;
  font-size: 3rem;
  width: 3rem;
}
.first-cart p {
  color: white;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1rem;
  
}
.first-cart button, .second-cart button, .third-cart button {
  border: none;
  background-color: white;
  color: #CE2829;
  width: 7.5rem;
  height: 2.5rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 0.7rem;
  border-radius: 1.25rem ;
  margin-left: -0.5rem;
  cursor: pointer;
}

.second-row {
  width: 25rem ;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.second-cart {
  background-image: url("public/assets/iteration-2/cta/kart-2.png");
  background-size: cover;
  flex: 1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 2rem;
  padding-left: 2rem;
}

.second-cart h2 {
  color: white;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 2rem;
  width: 12rem;
}

.third-cart {
  background-image: url("public/assets/iteration-2/cta/kart-3.png");
  background-size: cover;
  flex: 1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 2rem;
  padding-left: 2rem;
}
.third-cart h2 {
  color: black;
  width: 15rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.red-word {
  color: #CE2829;
}

.ara-metin-container {
  background: #FAF7F2;
  display: block;
  height: 8rem;
  margin-top: 2rem;
}
.ara-metin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ara-metin a {
  text-decoration: none;
  color: #CE2829;
  font-family: "Satisfy";
  font-size: 2rem;
  font-weight: 400;
}
.ara-metin h2 {
  color: #292929;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 2.5rem;
}
.yiyecekler-section {
  display: block;
  width: 100%;
}
.yiyecekler-container {
  display: flex;
  height: 6rem;
  justify-content: center;
  align-items: center;
}

.yiyecekler-container nav {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.yiyecekler-container nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 11rem;
  text-decoration: none;
  font-size: 1,8rem;
  font-family: "Barlow";
  font-weight: 500;
  display: flex;
  background-color: white;
  color: black;
  padding-right: 1rem;
  border-radius: 2rem;

}
.yiyecekler-container nav a img {
  height: 2.5rem;
  margin-right: 1rem;
}

.menu-section {
  display: block;
  width: 100%;
}
.menu-container {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.terminal-pizza, .aci-pizza, .tavuklu-burger {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 35rem;
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.menu-container h3 {
  margin-top: 1.2rem;
  font-family: "Barlow";
  font-size: 1.5rem;
  font-weight: 600;
}
.menu-paragraflari {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 1rem;
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: 600;
}
.yemek-puani {
  flex: 4;
}
.yorumlar {
  flex: 1;
}
.fiyat {
  flex: 1;
}

.footer-top {
  background-color: #1A1A1A;
  ;
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.footer-left {
  color: white;
  display: flex;
  width: 30rem;
  gap: 5rem;
}
.first-order {
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.first-order h3 {
  font-family: "Londrina Solid";
  font-size: 2.8rem;
  font-weight: 400;
}
.contact {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 12rem;
  gap: 1rem;
}
.contact li {
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: 400;
}
.contact li img {
  height: 2rem;
}

.second-order {
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 2rem;
  padding-top: 4rem;
}
.second-order h4 {
  font-family: "Barlow";
  font-size: 1.5rem;
  font-weight: 500;
}
.second-order ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: 500;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 20rem;
  height: 20rem;
  margin-top: 5rem;
}
.footer-right h4 {
  font-family: "Barlow";
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
.instagram {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 10px; 
  list-style: none; 
  padding: 0;
  margin: 0; 
}
.instagram img {
  width: 7rem;
  height: 7rem;
}







